* {background-color: khaki;
    font-family: 'Work Sans', sans-serif;}

.twosections {display: inline-flex;
                justify-content: space-between;
                width: 100%;    
                position: fixed;
                z-index: 10;
              
            }

header li {display: inline-flex; 
        list-style-type: none;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 2em;}
header ul {margin-right: 50px;}


header h3 {font-size: 4em;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 25px;
        font-family: 'Dancing Script', cursive;
        }
a {text-decoration-line: none;
            color: black;}

body {margin-left: 40px;}

main {padding-top: 100px;}

.layout {display: inline-flex; }

#moi {width: 200px; height: 200px; margin-top: 70px;
    margin-right: 150px;
    margin-left: 150px;}

main ul li {list-style-type: "\2713";
            padding-left: 5px;
            font-size: 1.25em;
            font-style: bold;}

#skills {display: inline-flex;}

img {width: 40px;
    margin-left: 30px;
    height: auto;
    padding-top: 0;}

#skill {height: 40px; width: auto;}

footer {  left: 50%;
    transform: translateX(-50%);}

#invisible {visibility: hidden;}



 
@media only screen and (max-width: 480px) {
    .twosections {flex-direction: column; position: relative}
    header ul a {visibility: hidden; font-size: 1px; padding: 0px; margin: 0px;}
    header h3 {flex-grow: 1; font-size: 3em; padding-left: 20px; margin-bottom: 0; margin-bottom: 10px; position: absolute;}
    main {padding: 20px; margin: 0px;}  
    body {padding: 0px; margin: 0px;}  
    .layout {display: flex; flex-direction: column;}
    p {flex-grow: 1; text-align: justify; font-size: 20px;}

    #moi {display: block; margin: 0 auto;}

    h2, h2#skills {left: 0; right: 0; text-align: center;}
    #skills {display: block; left:0; right: 0;}
    #invisible {visibility: visible ;}
    footer {transform: none; left: 0; right: 0; text-align: center;}
    #contacticons {display: flex; justify-content: center; }
    #icon {margin: 0 auto;}
    
    
  
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    header li {display: inline; font-size: 25px; margin-right: 0;}
    header h3 {font-size: 40px;}
    .content p {text-align: justify; font-size: 20px; width: 90%; position: absolute; }
    #moi {position: relative; top: 500px;}
    #projects, main ul li {position: relative; top: 500px;}
    #skills, #skill {position: relative; top: 500px;}
    #invisible {visibility: visible; relative; top: 500px;}
    #contactlink {visibility: hidden;}

    footer {position: relative; top: 500px}

}
    
